.reports {
  display: flex;

  .reportsContainer {
    flex: 6;

    .createButtons {
      width: 100%;
      font-size: 20px;
      color: gray;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .link {
        margin-left: 20px;
      }
    }
  }
}
