.reports {
  display: flex;

  .reportsContainer {
    flex: 6;

    .reportstableTitle {
      width: 100%;
      font-size: 20px;
      color: gray;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        flex: 5;
      }

      .right {
        display: flex;

        .link {
          margin-left: 15px;
        }
      }
    }
  }
}
