.users {
  display: flex;

  .usersContainer {
    flex: 6;

    .createUser {
      width: 100%;
      font-size: 20px;
      color: gray;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .link {
        margin-left: 20px;
      }
    }
  }
}
